*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}
header{
    position: sticky;
    top: 0;
    }

main{
    margin: 1rem;
}

footer{
    background-color: hsl(192, 21%, 46%);
    width: 100%;
    text-align: center;

}

h1{
    text-align: center;
    color:rgb(255, 255, 255);
    background-image:url("../images/guillaume-de-germain-PGp8FvrWcTs-unsplash.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    }
h1 a{
    text-decoration: none;
    color:aliceblue;
}

h2{
    color:rgb(73, 131, 95)
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(192, 21%, 46%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    
}

.navbar a:hover{
    background-color: rgb(68, 50, 157);
}
.navbar li{
    float: left;
}

.article-img{
    height: 200px;
    margin-right: 1rem;
    margin-right: 1.5rem;
    float: left;
}

.slide{
    display: inline-block;
    border: 3px solid rgb(88, 176, 154);
    margin: 0.1rem;
    }

.slide img{
    height: 200px;
    margin: 1rem;
}

.slide:hover{
    border: 3px solid black;
}

b{
    color: rgb(29, 101, 77);
}

.welcome-page li{
    margin: 1rem;
    margin-left: 2rem;
}
.hodowla li{
    margin: 1rem;
    margin-left: 2rem;
}
ol{
    margin : 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  text-align: left;
  background-color: #f8fbfb;
  border-radius: 10px;
  overflow: hidden;
}

caption {
  caption-side: top;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 10px;
  color: #2b4d4d;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background-color: #79a8a8;
  color: white;
}


.buttons-div{
  display: flex;
}
.buttons {
  padding: 5px 10px;
  border: none;
  color:#569f8d;
  border-radius: 8px;
  background-color: #eee;
  cursor: pointer;
}

.buttons:hover {
  background-color: #85b9dc;
}

.time-div {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 10px; 
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #85b9dc;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.czas {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin: 4px;
}

.test-block{
    width:200px;
    border: 2px solid rgba(71, 236, 30, 1);
    background: rgba(71,236,30,0.7);
    text-align: center;
    color: #000;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 600px){
    .navbar li{
        float: none;
        text-align: center
        
    }
    
    header {
        position: static;
        top: auto;
    }

    .article-img{
        height: 150px;
    }
}







